node_modules/
server/data/

.idea/
.gradle/
local.properties
*.iml
.DS_Store
*.log

android/.cxx/
android/captures/
android/app/build/
android/build/
android/*.apk
android/*.ap_
android/*.aab
**/.kotlin/
